* {
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 2em;
}

.introduction {
    width: 70%;
    text-align: center; 
    margin: 0 auto; 
    font-weight: 600;
}

.grid-prestation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 2rem;
    margin: 0px;
    padding: 2% 10% 0% 10%;
    position: relative;
}

.grid-prestation > div {
    padding: 30px;
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s, color 0.5s;
    position: relative;
}

.grid-prestation > div:hover {
    transform: scale(1.05);
    background-color: hsla(343, 96%, 89%, 0.4);
    backdrop-filter: blur(10px);
}


.grid-prestation div a {
    text-decoration: none;
    
}

.img-product {
    width: 18vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px #0e172c4b;
    border-top: 4em solid #0e172c;
    border-bottom: 4em solid #0e172c;
    border-left: 2em solid #0e172c;
    border-right: 2em solid #0e172c;   
 
}

.description {
    font-size: 0.8em;
}

.header-prestation {
    padding-top: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: row; /* Alignement en colonne */
    justify-content: space-between;
    align-items: center; /* Centrer horizontalement */
    width: 21vw;
    font-size: 1.2em;
}

.header-prestation p {
    text-decoration: none;
    margin: 5px 0; /* Espacement entre les paragraphes */
}


.container-back{
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    position: relative;
    color: black; /* Couleur du texte */
    transition: color 0.3s ease; /* Transition de couleur */
}

.back::before {
    content: '';
    position: absolute;
    bottom: -1px; /* Ajustement pour espacer légèrement le soulignement du texte */
    left: 50%; /* Centrer le soulignement sous le texte */
    transform: translateX(-50%);
    width: 0;
    height: 1px; /* Hauteur du soulignement */
    background-color: black; /* Couleur du soulignement */
    transition: width 0.3s ease; /* Transition de la largeur */
}

.back:hover::before {
    width: 100%; /* Transformation à l'échelle complète */
}



.form-select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    font-size: 16px;
}

.custom-select select {
    display: none; /*hide the original dropdown*/
}

.select-selected {
    background-color: #5c9cd8;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.select-selected:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent white transparent;
    top: 7px;
}

.select-items div, .select-selected {
    color: #3e3e3e;
    padding: 10px;
    border: 1px solid #5c9cd8;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #5c9cd8;
    border-top: none;
    display: none;
}

.select-items div:hover {
    background-color: #f1f1f1;
}
