<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1 class="sitename">My<br>Gift<br>Box<img src="/img-css/giftbox-logo.svg"></h1>

        <nav class="navigation">
                <a href="/">Home</a>
                <a href="/categories">Catalog</a>
                <a href="/">About Us</a>

        </nav>
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>

        <p>&copy; Nino Arcelin / Lina Teras / Dimitri Walczak-Vela-Mena</p>
        <p>RA-DWM 2023-2024</p>

    </footer>

</body>
</html>
