<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
</head>
<body>
    <header>
        <h1>My Gift Box</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Nino Arcelin / Lina Teras / Dimitri Walczak-Vela-Mena / 2023-2024</p>
    </footer>

</body>
</html>
