<html>

<head>
    <title>Catégorie</title>
</head>

<body>
    <h1>Catégorie ID : {{ categorie.id }}</h1>
    <ul>
        <li>{{ categorie.libelle }} {{ categorie.description }})
        </li>
    </ul>
</body>

</html>