<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Catégories</title>
</head>
<body>
    <h1>Liste des Catégories</h1>
    <ul>
        {% for categorie in categorie %}
            <li>
                <a href="../categories/{{ categorie.id }}">{{ categorie.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
    <p>{{ categorie.description }}</p>
</body>
</html>
