{% block title %}{% endblock %}

{% block content %}

	<link rel="stylesheet" href="/css/error-page.css">
	<div>
		<h2>{{code_error}}</h2>
		<h3>{{message_error}}</h3>
		<a href="/">Back home</a>
	</div>

	


{% endblock %}
