<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Get Box Create</title>
</head>
<body>
    <form action="./create" method="post">
        <label for="inputString">Entrez ID de box :</label>
        <input type="text" id="inputString" name="inputString" required>
        <button type="submit">Soumettre</button>
    </form>
</body>
</html>
