{% extends 'base.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block content %}
<div class="payment-success-container">
    <h1>{{ message }}</h1>
    <p>Accédez à votre coffret en utilisant le lien ci-dessous :</p>
    <p><a href="{{ access_url }}">{{ access_url }}</a></p>
</div>
{% endblock %}
