{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block content %}
    <h1>{{ boxcreate.libelle }}</h1>
    <p>{{ boxcreate.description }}</p>
    <p>Montant : {{ boxcreate.montant }}</p>

{% endblock content %}
