<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ boxcreate.libelle }}</title>
</head>
<body>
    <h1>{{ boxcreate.libelle }}</h1>
    <p>{{ boxcreate.description }}</p>
    <p>Montant : {{ boxcreate.montant }}</p>
</body>
</html>
