<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ prestation.libelle }}</title>
</head>
<body>
    <h1>{{ prestation.libelle }}</h1>
    <p>Description : {{ prestation.description }}</p>
    <p>ID : {{ prestation.id }}</p>
</body>
</html>
