{% extends 'base.html.twig' %}

{% block title %}Création de catégorie
{% endblock %}

{% block content %}

	<link rel="stylesheet" href="/css/categorie-create.css">

	<div class="container">
		<div class="box form-box">
			<header class="header-form">Register</header>

			<form  method="post">
				<div class="field input">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" autocomplete="off" required>
				</div>

				<div class="field input">
					<label for="password">Password</label>
					<input type="password" name="password1" id="password" autocomplete="off" required>
				</div>

                <div class="field input">
					<label for="password">Confirm Password</label>
					<input type="password" name="password2" id="password" autocomplete="off" required>
				</div>

				<input type="hidden" name="csrf" value="{{ csrf }}">


				<div class="field">

					<input type="submit" class="btn" name="submit" value="Validate" required>
				</div>

                <div class="links">
                <a href="{{ url_for('account_login', {},) }}">Login here!</a>
                </div>
				<p class="error_message">{% if error_message is defined %} {{error_message}} {% endif %}</p>
			</form>
		</div>
	</div>

{% endblock %}
