{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/css/welcome-page.css">

   
    <h1 class="title">Welcome on <u>My Gift Box</u> !</h1>
    <h3 class="introduction">Discover our exclusive collection of curated gift boxes, perfect for any occasion. Whether you're celebrating a birthday, anniversary, or simply want to show you care, My Gift Box has the perfect gift for you.</h3>

    {% if userIsLoggedIn %}
    <p class="para" >Welcome back {{user}} !</p>
    {% else %}

     <div class="connection-buttons">
        <a  href="{{ url_for('account_register', {},) }}" class="signin-button">Sign in</a>
        <a href="{{ url_for('account_login', {},) }}" class="login-button">Log in</a>
    </div>

    {% endif %}

    <div class="card-grid">
        <div class="card">
            <div class="card-header"><h2><b>Catalog</b></h2></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac dictum dui, a vulputate orci. Sed a orci porttitor, molestie magna vitae, faucibus sem. Sed eu diam pellentesque, tristique ligula.</p>

        </div>
        <div class="card">
            <div class="card-header"><h2><b>Boxes</b></h2></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac dictum dui, a vulputate orci. Sed a orci porttitor, molestie magna vitae, faucibus sem. Sed eu diam pellentesque, tristique ligula.</p>
        </div>

        <!-- Image Sun -->
        <div class="image-card">
            <img src="/img-css/sun-shine.svg" alt="Sun Shine" class="sun-shine">
            <img src="/img-css/sun-corp.svg" alt="Sun" class="sun-image">
            <img src="/img-css/eyes-and-mouth.svg" alt="Sun" class="eye-image">
        </div>

         <div class="card">
            <div class="card-header"><h2><b>Our Collections</b></h2></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac dictum dui, a vulputate orci. Sed a orci porttitor, molestie magna vitae, faucibus sem. Sed eu diam pellentesque, tristique ligula.</p>
        </div>

         <div class="card">
            <div class="card-header"><h2><b>About Us</b></h2></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac dictum dui, a vulputate orci. Sed a orci porttitor, molestie magna vitae, faucibus sem. Sed eu diam pellentesque, tristique ligula.</p>
        </div>
    
    </div>

        <script src="/js/animated-eyes.js"></script>


{% endblock content %}
